openapi: 3.0.0
info:
  version: 3.0.0
  title: 'disease.sh Docs - An open API for disease-related statistics COVID-19: Apple COVID-19: Worldometers API'
  description: Third Party API for reliable global disease information
  license:
    name: GNU V3
    url: https://github.com/disease-sh/API/blob/master/LICENSE
host: disease.sh
basePath: /
schemes:
- https
- http
consumes:
- application/json
produces:
- application/json
tags:
- name: 'COVID-19: Worldometers'
  description: (COVID-19 data sourced from Worldometers, updated every 10 minutes)
paths:
  /v3/covid-19/all:
    get:
      tags:
      - 'COVID-19: Worldometers'
      parameters:
      - name: yesterday
        in: query
        enum:
        - 'true'
        - 'false'
        - '1'
        - '0'
        description: Queries data reported a day ago
        type: string
      - name: twoDaysAgo
        in: query
        enum:
        - 'true'
        - 'false'
        - '1'
        - '0'
        description: Queries data reported two days ago
        type: string
      - name: allowNull
        in: query
        enum:
        - 'true'
        - 'false'
        - '1'
        - '0'
        description: By default, if a value is missing, it is returned as 0. This allows nulls to be returned
        type: string
      summary: Get global COVID-19 totals for today, yesterday and two days ago
      responses:
        '200':
          description: Status OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/covidAll'
  /v3/covid-19/states:
    get:
      tags:
      - 'COVID-19: Worldometers'
      parameters:
      - name: sort
        in: query
        enum:
        - cases
        - todayCases
        - deaths
        - todayDeaths
        - active
        description: Provided a key (e.g. cases, todayCases, deaths, active), result will be sorted from greatest to least
        type: string
      - name: yesterday
        in: query
        enum:
        - 'true'
        - 'false'
        - '1'
        - '0'
        description: Queries data reported a day ago
        type: string
      - name: allowNull
        in: query
        enum:
        - 'true'
        - 'false'
        - '1'
        - '0'
        description: By default, if a value is missing, it is returned as 0. This allows nulls to be returned
        type: string
      summary: Get COVID-19 totals for all US States
      responses:
        '200':
          description: Status OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/covidStates'
  /v3/covid-19/states/{states}:
    get:
      tags:
      - 'COVID-19: Worldometers'
      parameters:
      - name: states
        in: path
        required: true
        description: State name or comma separated names spelled correctly
        type: string
      - name: yesterday
        in: query
        enum:
        - 'true'
        - 'false'
        - '1'
        - '0'
        description: Queries data reported a day ago
        type: string
      - name: allowNull
        in: query
        enum:
        - 'true'
        - 'false'
        - '1'
        - '0'
        description: By default, if a value is missing, it is returned as 0. This allows nulls to be returned
        type: string
      summary: Get COVID-19 totals for specific US State(s)
      responses:
        '200':
          description: Status OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/covidState'
  /v3/covid-19/continents:
    get:
      tags:
      - 'COVID-19: Worldometers'
      parameters:
      - name: yesterday
        in: query
        enum:
        - 'true'
        - 'false'
        - '1'
        - '0'
        description: Queries data reported a day ago
        type: string
      - name: twoDaysAgo
        in: query
        enum:
        - 'true'
        - 'false'
        - '1'
        - '0'
        description: Queries data reported two days ago
        type: string
      - name: sort
        in: query
        enum:
        - cases
        - todayCases
        - deaths
        - todayDeaths
        - recovered
        - active
        - critical
        - casesPerOneMillion
        - deathsPerOneMillion
        description: Provided a key (e.g. cases, todayCases, deaths, recovered, active), results will be sorted from greatest to least
        type: string
      - name: allowNull
        in: query
        enum:
        - 'true'
        - 'false'
        - '1'
        - '0'
        description: By default, if a value is missing, it is returned as 0. This allows nulls to be returned
        type: string
      summary: Get COVID-19 totals for all continents
      responses:
        '200':
          description: Status OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/covidContinents'
  /v3/covid-19/continents/{continent}:
    get:
      tags:
      - 'COVID-19: Worldometers'
      parameters:
      - name: continent
        in: path
        required: true
        description: Continent name
        type: string
      - name: yesterday
        in: query
        enum:
        - 'true'
        - 'false'
        - '1'
        - '0'
        description: Queries data reported a day ago
        type: string
      - name: twoDaysAgo
        in: query
        enum:
        - 'true'
        - 'false'
        - '1'
        - '0'
        description: Queries data reported two days ago
        type: string
      - name: strict
        in: query
        enum:
        - 'true'
        - 'false'
        default: 'true'
        description: Setting to false gives you the ability to fuzzy search continents (i.e. Oman vs. rOMANia)
        type: string
      - name: allowNull
        in: query
        enum:
        - 'true'
        - 'false'
        - '1'
        - '0'
        description: By default, if a value is missing, it is returned as 0. This allows nulls to be returned
        type: string
      summary: Get COVID-19 totals for a specific continent
      responses:
        '200':
          description: Status OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/covidContinent'
  /v3/covid-19/countries:
    get:
      tags:
      - 'COVID-19: Worldometers'
      parameters:
      - name: yesterday
        in: query
        enum:
        - 'true'
        - 'false'
        - '1'
        - '0'
        description: Queries data reported a day ago
        type: string
      - name: twoDaysAgo
        in: query
        enum:
        - 'true'
        - 'false'
        - '1'
        - '0'
        description: Queries data reported two days ago
        type: string
      - name: sort
        in: query
        enum:
        - cases
        - todayCases
        - deaths
        - todayDeaths
        - recovered
        - active
        - critical
        - casesPerOneMillion
        - deathsPerOneMillion
        description: Provided a key (e.g. cases, todayCases, deaths, recovered, active), the result will be sorted from greatest to least
        type: string
      - name: allowNull
        in: query
        enum:
        - 'true'
        - 'false'
        - '1'
        - '0'
        description: By default, if a value is missing, it is returned as 0. This allows nulls to be returned
        type: string
      summary: Get COVID-19 totals for all countries
      responses:
        '200':
          description: Status OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/covidCountries'
  /v3/covid-19/countries/{country}:
    get:
      tags:
      - 'COVID-19: Worldometers'
      parameters:
      - name: country
        in: path
        required: true
        description: A country name, iso2, iso3, or country ID code
        type: string
      - name: yesterday
        in: query
        enum:
        - 'true'
        - 'false'
        - '1'
        - '0'
        description: Queries data reported a day ago
        type: string
      - name: twoDaysAgo
        in: query
        enum:
        - 'true'
        - 'false'
        - '1'
        - '0'
        description: Queries data reported two days ago
        type: string
      - name: strict
        in: query
        enum:
        - 'true'
        - 'false'
        default: 'true'
        description: Setting to false gives you the ability to fuzzy search countries (i.e. Oman vs. rOMANia)
        type: string
      - name: allowNull
        in: query
        enum:
        - 'true'
        - 'false'
        - '1'
        - '0'
        description: By default, if a value is missing, it is returned as 0. This allows nulls to be returned
        type: string
      summary: Get COVID-19 totals for a specific country
      responses:
        '200':
          description: Status OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/covidCountry'
  /v3/covid-19/countries/{countries}:
    get:
      tags:
      - 'COVID-19: Worldometers'
      parameters:
      - name: countries
        in: path
        required: true
        description: Multiple country names, iso2, iso3, or country IDs separated by commas
        type: string
      - name: yesterday
        in: query
        enum:
        - 'true'
        - 'false'
        - '1'
        - '0'
        description: Queries data reported a day ago
        type: string
      - name: twoDaysAgo
        in: query
        enum:
        - 'true'
        - 'false'
        - '1'
        - '0'
        description: Queries data reported two days ago
        type: string
      - name: allowNull
        in: query
        enum:
        - 'true'
        - 'false'
        - '1'
        - '0'
        description: By default, if a value is missing, it is returned as 0. This allows nulls to be returned
        type: string
      summary: Get COVID-19 totals for a specific set of countries
      responses:
        '200':
          description: Status OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/covidCountries'
components:
  schemas:
    covidContinent:
      properties:
        updated:
          type: number
        cases:
          type: number
        todayCases:
          type: number
        deaths:
          type: number
        todayDeaths:
          type: number
        recovered:
          type: number
        todayRecovered:
          type: number
        active:
          type: number
        critical:
          type: number
        casesPerOneMillion:
          type: number
        deathsPerOneMillion:
          type: number
        tests:
          type: number
        testsPerOneMillion:
          type: number
        population:
          type: number
        continent:
          type: string
        activePerOneMillion:
          type: number
        recoveredPerOneMillion:
          type: number
        criticalPerOneMillion:
          type: number
        continentInfo:
          type: object
          properties:
            lat:
              type: number
            long:
              type: number
        countries:
          type: array
          items:
            type: string
    covidCountry:
      properties:
        updated:
          type: number
        country:
          type: string
        countryInfo:
          type: object
          properties:
            _id:
              type: number
              uniqueItems: true
            iso2:
              type: string
              uniqueItems: true
            iso3:
              type: string
              uniqueItems: true
            lat:
              type: number
            long:
              type: number
            flag:
              type: string
        cases:
          type: number
        todayCases:
          type: number
        deaths:
          type: number
        todayDeaths:
          type: number
        recovered:
          type: number
        todayRecovered:
          type: number
        active:
          type: number
        critical:
          type: number
        casesPerOneMillion:
          type: number
        deathsPerOneMillion:
          type: number
        tests:
          type: number
        testsPerOneMillion:
          type: number
        population:
          type: number
        continent:
          type: number
        oneCasePerPeople:
          type: number
        oneDeathPerPeople:
          type: number
        oneTestPerPeople:
          type: number
        activePerOneMillion:
          type: number
        recoveredPerOneMillion:
          type: number
        criticalPerOneMillion:
          type: number
    covidAll:
      properties:
        updated:
          type: number
        cases:
          type: number
        todayCases:
          type: number
        deaths:
          type: number
        recovered:
          type: number
        todayRecovered:
          type: number
        active:
          type: number
        critical:
          type: number
        casesPerOneMillion:
          type: number
        deathsPerOneMillion:
          type: number
        tests:
          type: number
        testsPerOneMillion:
          type: number
        population:
          type: number
        oneCasePerPeople:
          type: number
        oneDeathPerPeople:
          type: number
        oneTestPerPeople:
          type: number
        activePerOneMillion:
          type: number
        recoveredPerOneMillion:
          type: number
        criticalPerOneMillion:
          type: number
        affectedCountries:
          type: number
    covidStates:
      type: array
      items:
        $ref: '#/components/schemas/covidState'
    covidState:
      properties:
        state:
          type: string
        updated:
          type: number
        cases:
          type: number
        todayCases:
          type: number
        deaths:
          type: number
        todayDeaths:
          type: number
        active:
          type: number
        casesPerOneMillion:
          type: number
        deathsPerOneMillion:
          type: number
        tests:
          type: number
        testsPerOneMillion:
          type: number
        population:
          type: number
    covidContinents:
      type: array
      items:
        $ref: '#/components/schemas/covidContinent'
    covidCountries:
      type: array
      items:
        $ref: '#/components/schemas/covidCountry'
externalDocs:
  description: Find out more about this API
  url: https://github.com/disease-sh/API
